@import './tailwind/base.css';
@import './tailwind/components.css';
@import './buttons.css';
@import './navigation.css';

:root {
    @apply font-sans;

    interpolate-size: allow-keywords;
}

.hs_cos_wrapper_type_icon > svg {
    @apply w-8 h-8;
}

.hero-banner__bg {
    @apply relative;

    &:before {
        content: '';
        background: linear-gradient(180deg, rgba(19, 19, 19, 0.00) 49.44%, #131313 95.05%);
        z-index: 1;

        @apply absolute inset-0;
        @apply pointer-events-none;
    }
}

.solution-card {
    background-image: linear-gradient(to bottom, #131313, #333);

    .solution-card__content {
        @apply bg-base-black;
        @apply relative m-px;

        height: calc(100% - 2px);

        svg {
            @apply fill-base-black dark:fill-base-white;
            @apply w-8 h-8;
        }
    }
}

.service-card {
    svg {
        @apply fill-base-white dark:fill-base-black;
        @apply w-8 h-8;
    }
}

.testimonial__content {
    background-image: url(/images/room.jpg);
    background-size: cover;
    background-position: center;
}

@tailwind utilities;