<div class="hero-banner relative min-h-[880px] flex flex-col justify-center">
    <div class="hero-banner__bg absolute inset-0">
        <video class="w-full h-full object-cover" src="/images/hero-video.mp4" autoplay loop muted playsinline></video>
    </div>
    <div class="container relative z-10">
        <div class="hero-banner__content lg:w-7/12 pt-80 pb-40 text-wrap-balance flex flex-col gap-12 md:gap-20">
            <h1 class="text-5xl md:text-8xl text-base-grey dark:text-base-white font-semibold tracking-tight">
                <!-- cms-field: headline-text -->
                See what's possible when you <span class="text-brand-yellow">simplify IT.</span>
                <!-- /cms-field -->
            </h1>
            <div class="text-base-grey dark:text-base-white">
                <!-- cms-field: subtitle -->
                <p>Subtitle</p>
                <!-- /cms-field -->
            </div>
            <div class="flex flex-col md:flex-row items-start md:items-center gap-6">
                <!-- cms-field: cta-link -->
                <a href="#" class="button button--yellow">Explore solutions</a>
                <!-- /cms-field -->
                <!-- cms-field: cta-link-2 -->
                <a href="#" class="button button--ghost-dark">Learn about Tieva</a>
                <!-- /cms-field -->
            </div>
        </div>
    </div>
</div>