{% extends "./templates/layouts/base.njk" %}
{% block content %}
    {% include "./modules/hero-banner/module.njk" %}
    {% include "./modules/logos/module.njk" %}
    {% include "./modules/intro/module.njk" %}
    {% include "./modules/solutions/module.njk" %}
    {% include "./modules/testimonial/module.njk" %}
    {% include "./modules/two-col-cta/module.njk" %}
    {% include "./modules/services/module.njk" %}
    {% include "./modules/people/module.njk" %}
    {% include "./modules/quote/module.njk" %}
    {% include "./modules/cta/module.njk" %}
    {% include "./modules/news-slider/module.njk" %}
    {% include "./modules/statistics/module.njk" %}
    {% include "./modules/slim-cta/module.njk" %}
    {% include "./modules/image-cta/module.njk" %}
    {% include "./modules/news/module.njk" %}
    {% include "./modules/timeline/module.njk" %}
    {% include "./modules/statement-image/module.njk" %}
    {% include "./modules/accordion/module.njk" %}
    {% include "./modules/text-image-block/module.njk" %}
    {% include "./modules/feature-block/module.njk" %}
    {% include "./modules/main-cta/module.njk" %}
    {% include "./modules/big-text-image/module.njk" %}
    {% include "./modules/maze-section/module.njk" %}
    {% include "./modules/12-col-text/module.njk" %}
    {% include "./modules/benefits/module.njk" %}
    {% include "./modules/image/module.njk" %}
    {% include "./modules/tabs/module.njk" %}
    {% include "./modules/footer-cta/module.njk" %}
{% endblock %}