<section class="statement-image py-20 md:py-40">
    <div
        class="lg:min-h-[800px] py-32 lg:py-40"
        style="background: linear-gradient(0deg, rgba(19, 19, 19, 0.40) 0%, rgba(19, 19, 19, 0.40) 100%),
            url('/images/statement-image.jpg') center center / cover no-repeat;">
        <div class="container">
            <h2 class="statement-image__title text-7xl lg:text-[200px] leading-[0.8] font-semibold tracking-tighter">
                Enjoy Better Business
                <u>Outcomes</u>.
            </h2>
        </div>
    </div>
</section>