<section class="cta-section py-20 md:py-40">
    <div class="container text-center grid grid-cols-1 md:grid-cols-4">
        {% include "../../templates/macros/cta-arrow.njk" %}
        {% include "../../templates/macros/cta-arrow.njk" %}
        <div class="md:col-span-2 md:col-start-2 flex flex-col gap-10 items-center">
            <h2 class="text-3xl lg:text-5xl">
                <!-- cms-field: title -->
                Are you ready to begin your IT journey?
                <!-- /cms-field -->
            </h2>
            <a href="/contact" class="button button--ghost dark:button--primary">
                <!-- cms-field: button_text -->
                Start now
                <!-- /cms-field -->
            </a>
        </div>
    </div>
</section>