<section class="feature-block py-20 md:py-40">
    <div
        class="lg:min-h-[900px] py-32 lg:py-40 bg-cover bg-center overflow-clip flex items-stretch"
        style="background-image: url('/images/statement-image.jpg')">
        <div class="container grid grid-cols-1 lg:grid-cols-12 gap-4">
            <div class="col-span-1 lg:col-span-7 relative text-base-black pr-10">
                <svg
                    class="absolute right-0 bottom-0 fill-brand-red"
                    xmlns="http://www.w3.org/2000/svg"
                    width="3270"
                    height="3270"
                    viewBox="0 0 3270 3270"
                    fill="none">
                    <path
                        d="M3269.84 2642.25L627.024 0L0.000425531 626.891L2642.81 3269.14L3269.91 3269.21L3269.84 2642.25Z"
                        fill-opacity="0.85"/>
                </svg>
                <div class="relative z-[1] flex flex-col gap-10">
                    <p class="text-2xl flex items-center gap-3">
                        <i class="fa-solid fa-chart-network"></i>Network</p>
                    <h2 class="text-4xl lg:text-6xl font-semibold tracking-tighter leading-snug">
                        Enjoy Better Business
                        <u>Outcomes</u>.
                    </h2>
                    <p class="text-xl">
                        We help you get the most out of your business.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>