<section class="accordion py-20 md:py-40">
    <div class="container grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-4">
        <div class="accordion__intro flex flex-col gap-4">
            <h2 class="text-3xl md:text-5xl">
                Connect everyone to everything... everywhere.
            </h2>
            <p class="text-xl">
                We help businesses simplify the complexities of managing today’s networks and provide services that help transform and
                move your business forward, faster. Our range of network services includes:
            </p>
        </div>
        <div class="accordion__content">
            <div class="accordion-item">
                <input type="checkbox" name="accordion" id="accordion-1" class="sr-only"/>
                <label for="accordion-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
                        <path d="M0 1.89453H3.99785L8 5.99979L3.99918 10.1051H0V1.89453Z" class="fill-base-black dark:fill-base-white"/>
                    </svg>
                    <h3>
                        Network Audits
                    </h3>
                </label>
                <div class="accordion-item__content">
                    <p>
                        Our network experts will work with you to evaluate your current operating state and understand what you want your
                        network to deliver now, and in the future.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <input type="checkbox" name="accordion" id="accordion-2" class="sr-only"/>
                <label for="accordion-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
                        <path d="M0 1.89453H3.99785L8 5.99979L3.99918 10.1051H0V1.89453Z" class="fill-base-black dark:fill-base-white"/>
                    </svg>
                    <h3>
                        Network Design
                    </h3>
                </label>
                <div class="accordion-item__content">
                    <p>
                        Our network experts will work with you to evaluate your current operating state and understand what you want your
                        network to deliver now, and in the future.
                    </p>
                </div>
            </div>
            <div class="accordion__footer mt-10">
                <a href="/" class="button button--ghost">
                    Learn about our approach
                </a>
            </div>
        </div>
    </section>