<section class="pt-20 lg:pt-40">
    <div class="footer-cta">
        <div class="container grid grid-cols-4 lg:grid-cols-12 gap-4">
            <div class="footer-cta__text col-span-4 lg:col-span-5 flex flex-col items-start gap-10">
                <h2 class="text-3xl lg:text-5xl font-bold">Learn what TIEVA can do for you.</h2>
                <a href="/contact" class="button">Connect with us</a>
            </div>
            <div class="footer-cta__image col-span-4 lg:col-end-13">
                <div class="footer-cta__image-inner">
                    <img
                        src="https://4877059.fs1.hubspotusercontent-na1.net/hubfs/4877059/63edf5fb6f3b7b57d75be4f5_Employee-smiling.png"
                        alt="Employee smiling">
                </div>
            </div>
        </div>
    </div>
</section>