<section class="logos text-base-black bg-base-grey dark:text-base-white dark:bg-base-black py-20 md:py-40">
    <div
        class="container">
        <!-- cms-field: title -->
        <h2 class="text-2xl mb-10 text-center">Trusted by some of the biggest global brands</h2>
        <!-- /cms-field -->
        <div
            class="grid grid-cols-2 md:grid-cols-6 gap-6">
            <!-- cms-field: logo-1 -->
            <img src="/images/logos/logo-1.png" alt="Logo 1" class="w-full h-auto dark:invert"> <!-- /cms-field -->
            <!-- cms-field: logo-2 --> <img src="/images/logos/logo-2.png" alt="Logo 2" class="w-full h-auto dark:invert"> <!-- /cms-field -->
            <!-- cms-field: logo-3 --> <img src="/images/logos/logo-3.png" alt="Logo 3" class="w-full h-auto dark:invert"> <!-- /cms-field -->
            <!-- cms-field: logo-4 --> <img src="/images/logos/logo-4.png" alt="Logo 4" class="w-full h-auto dark:invert"> <!-- /cms-field -->
            <!-- cms-field: logo-5 --> <img src="/images/logos/logo-5.png" alt="Logo 5" class="w-full h-auto dark:invert"> <!-- /cms-field -->
            <!-- cms-field: logo-6 -->
        <img
            src="/images/logos/logo-6.png" alt="Logo 6" class="w-full h-auto dark:invert"> <!-- /cms-field -->
        </div>
    </div>
</section>