<svg width="40" height="60" viewBox="0 0 40 60" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="arrow">
<path id="Vector" d="M0 9.47363L19.9892 9.47363L40 29.9999L19.9959 50.5263H0L0 9.47363Z" class="fill-base-black dark:fill-base-grey" />
</g>
</svg>