<section class="quote py-20 md:py-40">
    <div class="container">
        <div class="quote__grid">
            <div class="quote__grid-image">
                <img src="/images/quote.webp" alt="Quote Image" width="400" class="w-full h-full object-cover">
            </div>
            <div class="quote__grid-content flex items-center md:grid md:grid-cols-11 md:py-16">
                <div class="md:col-span-9 md:col-start-2 flex flex-col gap-10 pt-8 md:pt-0">
                    <span class="quote__grid-content-text text-2xl md:text-3xl">
                        <!-- cms-field: text -->
                        "I am incredibly proud to be part of a team who are at the top of their game. Working at TIEVA allows me to explore my creativity to produce fresh designs."
                        <!-- /cms-field -->
                    </span>
                    <span class="quote__grid-content-author">
                        <!-- cms-field: author -->
                        <p class="text-xl font-semibold">Thomas Hirst</p>
                        <p>Graphic Designer</p>
                        <!-- /cms-field -->
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>