<section class="full-width-text py-20 lg:py-40">
    <div class="container flex flex-col gap-4">
        <h2 class="text-xl lg:text-3xl">12 Column Text</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </div>
</section>