<section class="intro text-base-black bg-base-grey dark:text-base-white dark:bg-base-black py-20 md:py-40">
    <div class="container flex gap-6">
        <div class="flex-1">
            {% include "../../templates/macros/arrow.njk" %}
        </div>
        <div class="text-3xl md:text-5xl mb-10">
            <!-- cms-field: title -->
            We combine the best IT products and services into comprehensive <u class="dark:text-brand-yellow">solutions</u> to address your technological challenges.
            <!-- /cms-field -->
        </div>
    </div>
</section>