<section class="testimonial py-20 md:py-40">
    <div class="testimonial__content flex ">
        <img src="/images/woman.png" alt="Woman">
        <div class="testimonial__content__text">
        </div>
    </div>
</section>