<section class="benefits py-20 lg:py-40">
    <div class="container flex flex-col gap-10" data-aos="fade-up">
        <h2 class="text-2xl lg:text-4xl">Migrate, optimise and
            <u>securely</u>
            host your business-critical infrastructure with ease.</h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 mt-12 min-h-[260px]">
            <div class="benefit flex flex-col gap-6 border-b border-base-black dark:border-base-white">
                <i class="fa-solid fa-check w-6 h-6"></i>
                <div class="flex flex-col gap-2">
                    <h3 class="text-xl lg:text-2xl">Migrate</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                </div>
            </div>
        </div>
    </div>
</section>