<section class="main-cta">
    <div class="container py-20 md:py-40 grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-4">
        <h2 class="text-2xl lg:text-4xl">
            Drive your transformation with TIEVA as your trusted Cloud provider.
        </h2>
        <div class="lg:col-span-2 lg:py-8">
            <p>No matter where you find yourself in your cloud journey, we're here to assist you in identifying the optimal cloud
                strategy for your business. Whether your goal is to modernise data centre systems, migrate to the public cloud, or
                pursue both, our cloud services empower you to unlock sustainable value and agility across public cloud, hybrid-cloud,
                and on-premises platforms.</p>
        </div>
    </div>
    <div class="container py-10 md:py-20 text-center">
        <a href="#" class="button button--ghost">Question? Ask us anything</a>
    </div>
</section>