<section class="two-col-cta py-20 md:py-40">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="col">
                <h2 class="text-4xl md:text-5xl leading-tight">
                Are your technology engagements failing to deliver the desired outcomes?
            </h2>
        </div>
        <div class="col flex flex-col items-start gap-16">
            <p class="md:text-2xl">
                We've developed a <u class="dark:text-brand-yellow">unique methodology</u> to ensure the technology empowers your teams and sets you on the path to achieve your goals.
            </p>
            <a href="/contact" class="button button--ghost">
                    See how our approach differs
                </a>
            </div>
        </div>
    </div>
</section>