<section class="slim-cta py-20 md:py-40">
    <div class="bg-base-black dark:bg-base-grey py-6">
        <div class="container flex items-center justify-between">
            <h2 class="text-2xl md:text-4xl text-base-white dark:text-base-black">
                <!-- cms-field: title -->
                Unlock the full potential of your network.
                <!-- /cms-field -->
            </h2>
            <a href="{{ link.url }}" class="button button--primary">
                Learn more
            </a>
        </div>
    </div>
</section>